# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Power BI temporary / local files
*.pbi-tools/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Secrets / local configuration
.env
*.env
